:root {
    --primary-color: rgb(235, 173, 183, 0.15);
    --overlay-color: rgb(86, 52, 64, 0.9);
    --menu-speed: 0.75s;
    --h2-font: 'Mistral', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/* Adding accessibility of Skip link in the top of homepage that is visible when using keyboard  */
a:focus {
    outline: 3px solid #232e21;
}

.wrapper {
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    padding: 0;
}

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links a:focus {
    top: 0;
}

/* Basic font style of webpage */
body {
    font-family: 'Bahnschrift', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

/***** Mobile first approach ******/
/* Heading style with grid property */
.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

.showcase {
    background-color: var(--primary-color);
    color: #232e21;
    height: 50vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "0 tel"
        "0 logo"
        "p cart";
}

.showcase-inner {
    grid-area: p;
    height: 100%;
    color: #faf6f6;
    padding-left: 20px;

}


.number-inner {
    grid-area: tel;
    text-align: end;
    font-size: 15px;
    padding-right: 5vh;
    padding-top: 5px;
    color: #232e21;
}

.logo-inner {
    grid-area: logo;
    text-align: end;
    padding-right: 5vh;
}

.shopping-inner {
    grid-area: cart;
    text-align: right;
    padding-right: 15vh;
}

.shopping-inner span {
    font-size: 40px;
}

img {
    width: 180px;
    height: auto;
}

/* display background-image in header */
.showcase::before {
    content: '';
    background: url('../img/header-480.jpeg') no-repeat top center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Change font family for header */
.showcase h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

/* Setting element of font for H2 and H3 by using root */
h2,
h3 {
    font-family: var(--h2-font);
    font-size: 28px;
    padding: 5px;
}


/**************** About Us *************************/
.body-wrap {
    width: 100%;
    margin: 0 auto;
}

/* Setting bgcolor and  video position in the center */
.first-about {
    background-color: #f19eab;
    position: relative;
    padding: 20px;
}


.text-about p {
    text-align: justify;
    color: #222;
}

.image-about {
    text-align: center;
    padding-top: 15px;
    background-color: #f19eab;
}

/* Subheading what about Keto and Flavour real fruit */
.second-about {
    padding: 20px;
    position: relative;
}

.second-about h3,
.img-keto1,
.img-flavour {
    text-align: center;
    padding: 10px;
}

.second-about p {
    text-align: justify;
}

/******* About Page **********/
.first-about1 {
    background-color: #e8aeb7;
    position: relative;
    padding: 20px;
}

.second-about1 h3,
.img-keto1,
.img-flavour {
    text-align: center;
    padding: 10px;
}

.second-about1 p {
    text-align: left;
}

.content-keto button {
    background-color: #1F5F76;
    color: white;
    border-radius: 7px;
    width: 120px;
    font-size: 18px;
    padding: 5px;
}

.content-flavour h3 {
    border-top: 2px solid #232e21;
    margin-top: 5px;
}

.content-flavour button {
    background-color: #1F5F76;
    color: white;
    border-radius: 7px;
    width: 120px;
    font-size: 18px;
    padding: 5px;
}

/**************** Product *******************/
.product {
    padding: 20px;
    position: relative;
    background-color: #e8aeb7;
}

/* Setting best sell is in the center of box and changing color that using bgcolor and text align */
.product .seller1 {
    background-color: #563440;
    color: #aafcb8;
    text-align: center;
}

.seller h2 {
    background-color: #e8aeb7;
    color: #563440;
    padding: 10px;
    text-align: left;
}

.img-product {
    padding-top: 10px;
}

.seller1 p {
    padding: 10px;
    text-align: left;
}

.button-product {
    padding: 10px;
}

.button-product button {
    background-color: #055813;
    border-color: #06811a;
    color: white;
    border-radius: 7px;
    width: 150px;
    font-size: 17px;
    padding: 5px;
}

/* Promotion */
.promotion {
    padding: 20px;
    text-align: center;
}

.promotion ol li {
    list-style-position: inside;
}

/**************** Product page ****************/
.product1 {
    display: grid;
    padding: 15px;
    background-color: #e8aeb7;
    position: relative;
    max-width: 1200px;
}

.seller1 h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.seller2 {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    background-color: #4f2030;
    color: #faf6f6;
    text-align: center;
    padding-top: 15px;
}

/* Promotion */
.promotion1 {
    padding: 20px;
    text-align: center;
}

.promotion1 ol li {
    list-style-position: inside;
}

/********************** Contact Us******************/
.bg-contact {
    background-color: #e8aeb7;
    padding: 10px;
}

.contact {
    margin: 0 auto;
    display: block;
}

/* Changing font-size and color */
.bg-contact h2 {
    font-size: 35px;
    color: #222;
}

.bg-contact h3 {
    font-size: 30px;
    color: #222;
    line-height: 0.5rem;
    padding: 25px;
    padding-left: 5px;
}


/* Expand form box to 760-1200px */

.container-contact1 form input {
    padding: 3px;
    box-shadow: none;
    width: 100%;
}

.container-contact1 form textarea {
    padding: 20px;
    box-shadow: none;
    width: 100%;
}

/* Adding color-bg and font, font-size for button */
.container-contact1 form .button input {
    background-color: #1F5F76;
    color: white;
    border-radius: 10px;
    width: 80px;
    font-size: 22px;
}


/* Adding border and color of table */
table,
th,
td {
    border: 1px solid #faf8f8;
    border-collapse: collapse;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    font-size: 25px;
    width: 600px;
    max-width: 1200px;
}

th {
    background-color: #232e21;
    color: #e8aeb7;
}


/* Adding size of Maping Location */
.container-contact3 iframe {
    height: 450px;
    width: 650px;
    max-width: 1200px;
}

/************************* Footer *****************/
/* footer design with flex property including nav, logo, contact, and social media  */
footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: initial;
    bottom: 0;
    left: 0;
    background: rgb(66, 66, 66, 0.8);
    color: #e8aeb7;
}

footer span,
i {
    color: #000000;
}


footer .content {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p,
a {
    color: #e8aeb7;
    font-size: 10px;
}

footer .content .left {
    width: 10%;
    transition: all 0.4s ease;
}

footer .content .middle1 {
    width: 15%;
    transition: all 0.4s ease;
}

footer .content .middle2 {
    width: 7%;
    transition: all 0.4s ease;
}


footer .content .right1 {
    width: 35%;
    transition: all 0.4s ease;
}

footer .content .right2 {
    width: 5%;
    transition: all 0.4s ease;
    text-align: right;
}


footer .content .box .topic {
    font-size: 13px;
    margin-bottom: 16px;
}

footer .content .box li {
    font-size: 10px;
    list-style: none;
}

footer .upper img {
    width: 90px;
    height: auto;
    float: left;
}

footer content p {
    text-align: justify;
}

/* Designing social media with white border */
footer .content .media-icons a {
    font-size: 12px;
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 5px;
    border: 2px solid #faf6f6;
    margin: 15px 5px 0 0;
    transition: all 0.3s ease;
    align-items: flex-end;
}

/* social media shows red sign when mouse put in */
.content .media-icons a:hover {
    border-color: #eb2f06;
    transition: transform 0.5s;
    transform: rotate(1turn);
}

/* Puting copyright on the left side */
footer .bottom {
    width: 100%;
    text-align: center;
    padding: 0 40px 5px 0;
    font-size: 10px;
}




/******************* Desktop Screen *********************/
@media screen and (min-width: 690px) {

    body {
        font-size: 20px;
    }

    .showcase {
        width: 100%;
        height: 60vh;
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
            "0 0 0 tel"
            "0 0 0 logo"
            "p p cart cart";
    }

    .showcase-inner {
        grid-area: p;
        padding-left: 30px;
    }


    .number-inner {
        grid-area: tel;
        font-size: 22px;
        padding-right: 30px;
        padding-top: 10px;
    }

    .logo-inner {
        grid-area: logo;
        text-align: end;
        padding-right: 20px;
    }

    .shopping-inner {
        grid-area: cart;
        text-align: right;
        padding-right: 10vh;
    }

    .shopping-inner span {
        font-size: 60px;
    }

    img {
        width: 300px;
        height: auto;
    }

    /* display background-image in header */
    .showcase::before {
        content: '';
        background: url('../img/header-960.jpeg') no-repeat top center/cover;
    }

    /* Change font family for header */
    .showcase h1 {
        font-size: 2.5rem;
    }

    /* Setting element of font for H2 and H3 by using root */
    h2,
    h3 {
        font-size: 40px;
        padding: 10px;
    }



    /******************** About Us **********************/
    #about .first-about {
        display: grid;
        grid-template-columns: 1fr 680px;
    }

    #about .first-about p {
        font-size: 22px;
    }

    #about .image-about video {
        width: 550px;
    }

    /* Setting what's about keto and flavours real fruits by using  grid property */
    .second-about {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        grid-template-areas:
            "keto flavour"
            "keto flavour";
    }

    .content-keto {
        grid-area: keto;
        display: grid;
        grid-template-columns: 40% 55%;
        font-size: 16px;
    }

    .content-keto h3 {
        grid-column-start: 1;
        grid-column-end: 3;
        border-top: none;
    }

    .img-keto1 {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .text-keto {
        grid-row-start: 2;
        grid-row-end: 2;
        padding-left: 15px;
    }

    .button-keto {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .content-flavour {
        grid-area: flavour;
        position: relative;
        display: grid;
        grid-template-columns: 40% 55%;
        font-size: 16px;
    }

    .content-flavour h3 {
        grid-column-start: 1;
        grid-column-end: 3;
        border-top: none;
    }

    .img-flavour {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .text-flavour {
        grid-row-start: 2;
        grid-row-end: 2;
        padding-left: 15px;
    }

    .button-flavour {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .second-about h3 {
        font-size: 30px;
        text-align: start;
    }

    .second-about .button-keto {
        font-size: 18px;
    }

    .second-about img {
        width: 180px;
    }

    /************* Products *******************/
    .product {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
            "h2 h2 h2"
            "text text promotion";
    }

    .seller h2 {
        grid-area: h2;
        align-content: flex-start;
        color: #4f2030;
    }

    .seller1 {
        grid-area: text;
        width: auto;
        display: grid;
        grid-template-columns: 55% 45%;
        align-content: center;
    }

    .promotion {
        grid-area: promotion;
    }

    .img-product {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .text-product {
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 18px;
    }

    .button-product {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .img-product img {
        width: 350px;
    }

    .button-product button {
        width: 190px;
        font-size: 22px;
        padding: 10px;
    }

    /**************** Product page ****************/
    .product1 {
        width: 100%;

    }

    .seller1 h2 {
        display: flex;
        flex-direction: row;

    }

    .seller2 {
        display: flex;
        flex-direction: column;
        background-color: #4f2030;
        color: #faf6f6;
        text-align: center;
        padding-top: 15px;
    }



    /*************************** Contact Us ***************** */
    /* Using Grid layout for design contact us page with rows and columns */
    .contact {

        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
        width: 1020px;
    }

    /* Topic Contact Us*/
    .container-contact {
        grid-area: 1 / span 2 / 2 / 3;
    }

    /* Send us a message */
    .container-contact1 {
        grid-area: 2 / 1 / 3 / 2;
    }

    /* Hour of operation */
    .container-contact2 {
        grid-area: 3 / span 2 / 4 / 3;
    }

    /* Location image */
    .container-contact3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    /* Changing font-size for contact us*/
    .bg-contact h2 {
        font-size: 40px;
    }

    .bg-contact h3 {
        font-size: 35px;
    }

    /* Changing table size for desktop screen */
    table,
    th,
    td {
        height: 50px;
        margin: 0 auto;
        width: 1020px;
        font-size: 20px;
    }


    /* adjust the size box of Fullname ane Email */
    .container-contact1 form input {
        width: 500px;
    }

    /* adjust the size box of message */
    .container-contact1 form textarea {
        width: 500px;
    }

    .container-contact1 form input {
        padding: 3px;
        box-shadow: none;
        width: 100%;
    }


    /* adjust the size map smaller than mobile size */
    .container-contact3 iframe {
        height: 435px;
        width: 495px;
    }




    /* *************Footer************ */

    /* footer design with flex property including nav, logo, contact, and social media  */
    footer {
        width: 100%;
    }

    footer .content {
        width: 100%;
        padding: 5px;
    }

    footer .content p,
    a {
        font-size: 18px;
    }


    footer .content .box .topic {
        font-size: 22px;
    }

    footer .content .box li {
        font-size: 18px;
        list-style: none;
    }



    footer .upper img {
        width: 200px;
        padding-right: 30px;

    }

    /* Designing social media with white border */
    footer .content .media-icons a {
        font-size: 20px;
        height: 45px;
        width: 45px;
        line-height: 43px;
        margin: 20px 5px 0 0;
    }


    /* Puting copyright on the left side */
    footer .bottom {
        text-align: left;
        padding: 2px 40px 0;
        font-size: 18px;
    }
}