:root {
    --primary-color: #ebaeb7;
    --overlay-color: #563440;
    --menu-speed:0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bahnschrift', sans-serif;
    line-height: 1.4;                                         
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3 rem;
}

.showcase {
    background-color: var(--primary-color);
    color: #232e21;
}