:root {
    --primary-color: rgb(235, 173, 183, 0.15);
    --overlay-color: rgb(86, 52, 64, 0.9);
    --menu-speed: 0.75s;
    --h2-font: 'Mistral', sans-serif;                                                                                                                 
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

}

a:focus {
    outline: 3px solid #232e21;
}

.wrapper {
    max-width: 1200px;
    min-width: 700px;
    margin: 0 auto;
    padding: 0;
}

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links a:focus {
    top: 0;
}

body {
    font-family: 'Bahnschrift', sans-serif;
    line-height: 1.4;
}

.container {
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.showcase {
    background-color: var(--primary-color);
    color: #232e21;
    height: 50vh;
    width: 130vh;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
        "0 0 0 tel"
        "0 0 0 logo"
        "p p cart cart";
}

.showcase-inner {
    grid-area: p;
    height: 100%;
    color: #faf6f6;
    padding-left: 20px;
}


.number-inner {
    grid-area: tel;
    text-align: end;
    font-size: 25px;
    padding-right: 30px;
    padding-top: 5px;


}

.logo-inner {
    grid-area: logo;
    text-align: end;
    padding-right: 20px;

}

.shopping-inner {
    grid-area: cart;
    text-align: right;
    padding-right: 10vh;
  
}

.shopping-inner span {
    font-size: 50px;
}

img {
    width: 350px;
    height: auto;
}


/* create background header with the height, color and bgcolor */

/* display background-image in header */
.showcase::before {
    content: '';
    background: url('../img/header-960.jpeg') no-repeat top center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

/* Managing the position of content to go to butoom line overlay the background image */
/* .showcase .shopping-inner {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    height: 100%;
} */

/* Change font family for header */
.showcase h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

h2, h3 {
    font-family: var(--h2-font);
    font-size: 35px;
}





/* footer design with flex property including nav, logo, contact, and social media  */
footer {
    width: 100%;
    margin: 0 auto;
    position: initial;
    bottom: 0;
    left: 0;
    background: rgb(66, 66, 66, 0.8);
    color: #e8aeb7;
}

footer span, i {
    color: #000000;
}


footer .content {
    /* max-width: 1200px; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p, a {
    color: #e8aeb7;
}


footer .content .box {
    width: 20%;
    transition: all 0.4s ease;
}

footer .content .right2 {
    text-align: right;
}

footer .content .topic {
    font-size: 18px;
    margin-bottom: 16px;
}

footer img {
    width: 180px;
    height: auto;
    float: left;
}

footer content p {
    text-align: justify;
}
/* Designing social media with white border */
footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #faf6f6;
    margin: 20px 5px 0 0;
    transition: all 0.3s ease;
    align-items: flex-end;
}

/* social media shows red sign when mouse put in */
.content .media-icons a:hover {
    border-color: #eb2f06;
    transition: transform 0.5s;
    transform: rotate(1turn);
}

/* Puting copyright on the left side */
footer .bottom {
    width: 100%;
    text-align: left;
    padding: 0 40px 5px 0;
}